<!-- Footer -->
<footer class="footer" role="contentinfo">
  <div class="container">
    <div
      class="gap-lg max-md:flex max-md:flex-col max-md:items-center md:grid grid-cols-12"
    >
      <div
        class="col-span-9 2xl:col-span-10 flex flex-col items-center md:items-start"
      >
        <div class="footer-logo">
          <img
            src="images/logo-big.svg"
            alt="Kebler Corner"
            class="logo-image"
          />
        </div>

        <div class="footer-text mt-2lg">
          <p class="uppercase text-gray-2">
            ©
            <a
              href="https://www.outdoorhospitality.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-2 underline"
            >Outdoor Hospitality Solutions Inc</a><br />
            2020. All Right Reserved.
          </p>
        </div>

        <div class="footer-links mt-auto max-lg:flex-col flex gap-5 lg:gap-3lg">
          <a
            href="https://www.keblercorner.com/privacy-policy"
            class="text-gray-2 underline uppercase"
          >Privacy policy</a>
          <a
            href="https://www.keblercorner.com/terms-and-conditions"
            class="text-gray-2 underline uppercase"
          >Kebler corner terms & conditions</a>
          <a
            href="https://www.keblercorner.com/liability-waiver"
            class="text-gray-2 underline uppercase"
          >Liability Waiver</a>
        </div>
      </div>

      <div class="col-span-3 2xl:col-span-2 flex flex-col max-md:mt-md">
        <div class="flex flex-col gap-lg max-md:items-center">
          <a href="#accommodations">Accommodations</a>
          <a href="#activities">Activities</a>
          <a href="#about">About Us</a>
          <a href="#contact">Contacts Us</a>
          <a href="#gift-certificates">Gift Certificates</a>
        </div>

        <button
          class="btn btn-white py-md md:mt-2lg mt-10"
          style="padding: var(--spacing-sm) var(--spacing-2xl)"
        >
          Book now
        </button>

        <!-- Social Media Links -->
        <div class="social-links mt-xl max-md:justify-center">
          <a href="#" class="social-link" aria-label="Follow us on Instagram">
            <img src="images/instagram.svg" alt="Instagram" />
          </a>
          <a
            href="https://www.facebook.com/keblercorner"
            class="social-link"
            aria-label="Follow us on Facebook"
          >
            <img src="images/facebook.svg" alt="Facebook" />
          </a>
          <a href="#" class="social-link" aria-label="Follow us on Twitter">
            <img src="images/twitter.svg" alt="Twitter" />
          </a>
          <a href="#" class="social-link" aria-label="Follow us on YouTube">
            <img src="images/youtube.svg" alt="YouTube" />
          </a>
        </div>

        <div class="footer-text-mobile sm:mt-2lg mt-20">
          <p
            class="text-xs md:text-base max-md:text-center uppercase text-gray-2"
          >
            ©
            <a
              href="https://www.outdoorhospitality.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-2 underline"
            >Outdoor Hospitality Solutions Inc</a><br />
            2020. All Right Reserved.
          </p>
        </div>

        <div
          class="footer-links-mobile text-xs md:text-base mt-2lg md:mt-auto flex gap-2lg md:gap-3lg max-md:text-center"
        >
          <a
            href="https://www.keblercorner.com/privacy-policy"
            class="text-gray-2 underline uppercase"
          >Privacy policy</a>
          <a
            href="https://www.keblercorner.com/terms-and-conditions"
            class="text-gray-2 underline uppercase"
          >Kebler corner terms & conditions</a>
          <a
            href="https://www.keblercorner.com/liability-waiver"
            class="text-gray-2 underline uppercase"
          >Liability Waiver</a>
        </div>
      </div>
    </div>
  </div>
</footer>